.tag-search-container {
    width: 95%;
    margin: 0 auto;
    padding: 30px;
  }
  
  .banner {
    width: 100%;
    background: linear-gradient(to right, #ffd094, #FFF4E6);
    border-radius: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .banner-img {
    width: 90px;
    font-size: 80px;
    color: #3e1bc8ce;
    font-weight: bold;
  }
  
  .banner-content {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .banner-content h5 {
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  .banner-btn {
    background-color: #FF8C42;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .banner-btn:hover {
    background-color: #e67e32;
  }
  
  .tags-section {
    background-color: white;
    border: 2px solid #9898986b;
    border-radius: 10px;
    padding: 15px;
    margin-top: 25px;
  }
  
  .tags-section h3 {
    font-size: 20px;
    font-weight: 450;
    color: rgba(0, 0, 0, 0.633);
    margin-bottom: 15px;
  }
  
  .search-box {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    border: 2px solid #9898986b;
    padding: 3px 10px;
    border-radius: 10px;
  }

  .search-logo {
    font-size: 25px;
  }
  
  .search-box input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 5px 10px;
  }
  
  .tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .tag-btn {
    border: 2px solid #9898986b;
    border-radius: 10px;
    background-color: transparent;
    color: #666666;
    padding: 5px 10px;
    font-size: 9px;
    cursor: pointer;
  }
  
  .tag-btn:hover {
    background-color: #e0e0e0;
  }
  